body 
{background-color: gray;
}
h1 
{color:#66FCF1;
    text-align: center;
}
h2 
{color:#66FCF1;
    text-align: center;
}
h3 
{color:#66FCF1;
}
h6
{color: #45A29E;  
}
p
{
	/*Colour temporarily until on top of*/
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
table
{color: #45A29E;
 border: #45A29E;
}
form
{color: #45A29E;
}
btn
{color: #1F2833;    
}
a:link 
{color: #45A29E;
}
a:visited
{color: #45A29E;
}
a:hover
{color: #45A29E;
}
li
{color: #45A29E,font:15px,arial,sans-serif;
 text-align:center;
}

.map
{
  max-width: 100%;
}
